<%= render "shared/authenticated_layout" do %>
  <%= render Ui::BackLinkComponent.new(href: medical_folder_path(@medical_folder), text: t('.back_to_folder', folder_name: @medical_folder.name)) %>

  <%= render Ui::ListPageHeaderComponent.new(
    title: t('.title', folder_name: @medical_folder.name),
    subtitle: t('.document_count', count: @documents.count),
    action_text: t('.upload_document'),
    action_href: new_medical_folder_document_path(@medical_folder)
  ) %>

  <% if @documents.any? %>
    <div class="space-y-3">
      <% @documents.each do |document| %>
        <%= render Features::DocumentCardComponent.new(document: document, medical_folder: @medical_folder) %>
      <% end %>
    </div>
  <% else %>
    <%= render Ui::EmptyStateComponent.new(
      title: t('.no_documents_title'),
      description: t('.no_documents_description'),
      icon: :document,
      action_text: t('.upload_first'),
      action_href: new_medical_folder_document_path(@medical_folder)
    ) %>
  <% end %>
<% end %>
